<div class="row">
    <div class="span11">
          <h1>Leadership Team</h1>
          <div class="media">
            <span class="pull-left">
              <img alt="CEO, Michael Buckwald" class="media-object" src="assets/leadership_michael-buckwald.jpg" />
            </span>
            <div class="media-body">
              <h2>Michael Buckwald, CEO and Co-Founder</h2>
              <p>Before launching Leap Motion, Michael was the CEO of Zazuba.com, a business appointment service, which was sold to a major national yellow pages company in 2010. Buckwald launched Zazuba as an undergraduate at George Washington University where he received a dual Bachelor's degree in philosophy and political science. Buckwald also ran the first deployment of computers to Madagascar with the One Laptop Per Child program.</p>
            </div>
          </div>
          <div class="media">
            <span class="pull-right">
              <img alt="CTO, David Holz" class="media-object" src="assets/leadership_david-holz.jpg" />
            </span>
            <div class="media-body">
              <h2>David Holz, CTO and Co-Founder</h2>
                <p>After reading Stephen Hawking's <em>A Brief History of Time</em> in eighth grade, David devised a simple way to test the theory of general relativity. By the time he was studying math at the University of North Carolina at Chapel Hill, he was contracting with NASA. David left his Ph.D program in Applied Math at UNC Chapel Hill to start Leap Motion. </p>
            </div>
          </div>
          <div class="media">
            <span class="pull-left">
              <img alt="President/COO, Andy Miller" class="media-object" src="assets/leadership_andy-miller.jpg" />
            </span>
            <div class="media-body">
              <h2>Andy Miller, President and COO</h2>
              <p>Before joining the Leap Motion team, Andy served as General Partner at Highland Capital Partners and previously reported directly to Steve Jobs at Apple, Inc. as Vice President of Mobile Advertising and head of the iAd division, the mobile advertising network for the iPhone, iPod touch and iPad. Andy was also co-founder and CEO of Quattro Wireless, a mobile advertising company acquired by Apple in 2009. Prior to that, he oversaw business development, sales and strategy for mobile aggregator m-Qube. <a href="https://twitter.com/AndyMillerHCP">Follow Andy on Twitter </a> </p>
            </div>
          </div>
          
        </div>
  </div>