<div class="row">
    <div class="span8">
          <h1>In the News</h1>
          <p>We're not the only ones who are excited about what's happening at Leap Motion. Here's the latest and greatest news about how we're putting the future at your fingertips</p>
        
          <ul class="news-items">
            <li>
              <a href="http://www.bloomberg.com/video/buckwald-gesture-control-is-future-of-computing-0PqWB0zfRNahsVQ3zhWNXw.html" target="_blank">Buckwald: Gesture Control is the Future of Computing</a>
              <p>01/17/13 - Bloomberg West</p>
            </li>
            <li>
              <a href="http://www.bloomberg.com/video/buckwald-gesture-control-is-future-of-computing-0PqWB0zfRNahsVQ3zhWNXw.html" target="_blank">Buckwald: Gesture Control is the Future of Computing</a>
              <p>01/17/13 - Bloomberg West</p>
            </li>
            <li>
              <a href="http://www.bloomberg.com/video/buckwald-gesture-control-is-future-of-computing-0PqWB0zfRNahsVQ3zhWNXw.html" target="_blank">Buckwald: Gesture Control is the Future of Computing</a>
              <p>01/17/13 - Bloomberg West</p>
            </li> 
         </ul>
        </div>
    <aside class="span3 pull-right">
  <h3>Pre-Order the Leap Motion Controller</h3>
  <p>We're shipping a limited number so don't wait.</p>
  <a href="https://www.leapmotion.com/preorder" class="btn btn-large">Pre-Order $69.99</a>
  <hr>
  <h3>Be a Leap Motion Developer</h3>
  <p>Ready to make history? Help us change computing forever.</p>
  <a href="https://www.leapmotion.com/developer_applications" class="cta btn btn-large" data-menu-id="developer_application">Apply</a>
</aside>
  </div>